<div class="card card-body" style="width: 40%">
    <h1>Badges(徽章)會隨著文字變化大小<span class="badge badge-secondary">徽章</span></h1>
    <h2>可調整顏色 badges-xxxxx<span class="badge badge-danger">徽章</span></h2>
    <h3>可調整外框<span class="badge badge-secondary badge-pill">badge-pill</span></h3>
    <h3>可當作超連結按鈕<a href="#" class="badge badge-primary">連</a></h3>
    <button type="button" class="btn btn-primary" style="width:20%">
        當作通知事項 <span class="badge badge-light">4</span>
    </button>
</div>
