<div class="card card-body">
    <button id="collapseEx" class="btn btn-primary" type="button"  data-toggle="collapse" data-target="#collapseExResult" aria-expanded="false" aria-controls="collapseExResult" style="
    width: 50%">
        點我點我!!!
    </button>
    <div class="collapse" id="collapseExResult">
        <label>Collapse摺疊縮放功能就是這樣啦!!!按鈕的折疊顯示也是它做出來的唷</label>
    </div>
</div>